<%= form_for @import, :html => { :multipart => true } do |f| %>
  <p>
		<%= f.label :chemfile %><br />
		<%= f.file_field :chemfile %>
	</p>
	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>  